{% extends 'base.html'%}
{% load static %}





{% block title%}
Assign Department
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}


{% block content%}
<div class="container">
    <form action="{% url 'department' student.id %}" method="POST" class="form">
        {% csrf_token %}
        <h1 class="mainTitle">Assign Department</h1>


        <div class="add_new">
            <input type="text" class="input" id="name" name="name" value="{{ student.name }}">
            <label class="label">Name</label>
        </div>



        <div class="add_new">
            <input disabled type="text" class="input" id="id" name="id" value="{{ student.id }}">
            <label class="label">ID</label>
        </div>

        <div class="add_new">
            <select name="de" class="input" id="de" name = "de">
                <option value="CS" {% if student.department == 'CS' %}selected{% endif %}>Computer Science</option>
                <option value="IS" {% if student.department == 'IS' %}selected{% endif %}>Information System</option>
                <option value="AI" {% if student.department == 'AI' %}selected{% endif %}>Artificial Intelligence</option>
                <option value="DS" {% if student.department == 'DS' %}selected{% endif %}>Decision Support</option>
                <option value="IT" {% if student.department == 'IT' %}selected{% endif %}>Information Technology</option>
            </select>
            <label class="label">Department</label>
        </div>
        
        <button type="submit" class="submit" id="save-btn">Assign</button>
    </form>
</div>
{% endblock %}




{% block javaScript%}
<script src="{% static 'scripts/assign-department.js' %}"></script>
{% endblock%}