{% extends 'base.html'%}
{% load static %}


{% block title%}
Edit students page
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}

{% block nav%}
<li><a href="/">Home</a></li>
<li class="navBar-options">
    <a href="#" class="options-btn">Options</a>
    <div class="dropdown-content">
        <a href="addStudent" class="active">Add new student</a>
        <a href="viewStudents">View students</a>
        <a href="assignDepartment"> Assign Department</a>
    </div>
</li>
<li><a href="contact"> Contact Us</a></li>
<li class="navBar-account">
    <a href="#" class="account-btn">Account</a>
</li>
<li><a id="logout" href="">Logout</a></li>
{% endblock%}


{% block content%}
<div class="container">
    <form action="" class="form">
        <h1 class="mainTitle">Edit Student</h1>

        <div class="add_new">
            <input disabled type="text" placeholder="ID" class="input" id = "id">
            <label class="label">ID</label>
        </div>

        <div class="add_new">
            <input type="text" placeholder="Name" class="input" id="name">
            <label class="label">Name</label>
        </div>

        <div class="add_new">
            <input type="number" placeholder="Level" id="level" name="level" min="1" max="4" class="input" id="level">
            <label for="level" class="label">Level</label>
        </div>

        <div class="add_new">
            <select name = "Status" class="input" id = "status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <label class="label">Status</label>
        </div>

        <div class="add_new">
            <input type="date" class="input" id = "date">
            <label class="label">Date of birth</label>
        </div>

        <div class="add_new">
            <select name="department" class="input" id = "de">
                <option value="CS">Computer Science</option>
                <option value="IS">Information System</option>
                <option value="AI">Artificial Intelligence</option>
                <option value="DS">Decision Support</option>
                <option value="IT">Information Technology</option>
            </select>
            <label class="label">Department</label>
        </div>

        <div class="add_new">
            <input class="input" placeholder="GPA" type="number" min="0" max="4.0" step="0.01" id = "gpa"/>
            <label class="label">GPA</label>
        </div>

        <div class="add_new">
            <input type="email" placeholder="Email" class="input" id = "email">
            <label class="label">Email</label>
        </div>

        <div class="add_new">
            <select name="gender" class="input" id = "gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label class="label">Gender</label>
        </div>

        <div class="add_new">
            <input type="tel" id="phone" name="phone" class="input" placeholder="Phone Number" id = "phone">
            <label for="phone" class="label">Phone Number</label> 
        </div>

        <button type="button" class="submit" id = "save-btn">Save Changes</button>
        <button type="button" class="submit" id = "del-btn">Delete Student</button>
    </form>
</div>
{% endblock %}




{% block javaScript%}

<script src="{% static 'scripts/edit-student.js' %}"></script>
{% endblock%}