{% extends 'base.html'%}
{% load static %}


{% block title%}
Edit students page
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}

{% block nav%}
<li><a href="/">Home</a></li>
<li class="navBar-options">
    <a href="#" class="options-btn">Options</a>
    <div class="dropdown-content">
        <a href="addStudent" class="active">Add new student</a>
        <a href="viewStudents">View students</a>
        <a href="assignDepartment"> Assign Department</a>
    </div>
</li>
<li><a href="contact"> Contact Us</a></li>
<li class="navBar-account">
    <a href="#" class="account-btn">Account</a>
</li>
<li><a id="logout" href="/logout">Logout</a></li>
{% endblock%}


{% block content%}
<div class="container">
    <form action="{% url 'Edit_students' student.id %}" method="POST" class="form">
        {% csrf_token %}
        <h1 class="mainTitleForm">Edit Student</h1>
        
        <div class="add_new">
            <input disabled type="text" class="input" id="id" name="id" value="{{ student.id }}">
            <label class="label">ID</label>
        </div>

        <div class="add_new">
            <input type="text" class="input" id="name" name="name" value="{{ student.name }}">
            <label class="label">Name</label>
        </div>


        <div class="add_new">
            <input type="number" id="level" name="level" min="1" max="4" class="input"
                id="level" value="{{ student.level }}">
            <label for="level" class="label">Level</label>
        </div>

        <div class="add_new">
            <select class="input" id="status" name = "status">
                <option value="Active" {% if student.status == 'Active' %}selected{% endif %}>Active</option>
                <option value="Inactive" {% if student.status == 'Inactive' %}selected{% endif %}>Inactive</option>
            </select>
            <label class="label">Status</label>
        </div>

        <div class="add_new">
            <input type="date" class="input" id="date" name="date" value="{{student.date|date:'Y-m-d'}}">
            <label class="label">Date of birth</label>
        </div>

        <div class="add_new">
            <select name="de" class="input" id="de" name = "de">
                <option value="NO" {% if student.department == 'NO' %}selected{% endif %}>Not Assigned Yet</option>
                <option value="CS" {% if student.department == 'CS' %}selected{% endif %}>Computer Science</option>
                <option value="IS" {% if student.department == 'IS' %}selected{% endif %}>Information System</option>
                <option value="AI" {% if student.department == 'AI' %}selected{% endif %}>Artificial Intelligence</option>
                <option value="DS" {% if student.department == 'DS' %}selected{% endif %}>Decision Support</option>
                <option value="IT" {% if student.department == 'IT' %}selected{% endif %}>Information Technology</option>
            </select>
            <label class="label">Department</label>
        </div>

        <div class="add_new">
            <input class="input" placeholder="GPA" type="number" min="0" max="4.0" step="0.01" id="gpa"
                name = "gpa" value="{{ student.gpa }}">
            <label class="label">GPA</label>
        </div>

        <div class="add_new">
            <input type="email" class="input" id="email" name="email" value="{{ student.email }}">
            <label class="label">Email</label>
        </div>

        <div class="add_new">
            <select name="gender" class="input" id="gender" name = "gender">
                <option value="Male" {% if student.gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if student.gender == 'Female' %}selected{% endif %}>Female</option>
            </select>
            <label class="label">Gender</label>
        </div>

        <div class="add_new">
            <input type="tel" id="phone" name="phone"
                pattern="(01)[0,1,2,5][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" class="input"
                id="phone" value="{{ student.phone }}">
            <label for="phone" class="label">Phone Number</label>
        </div>

        <button type="submit" class="submit" id="save-btn">Save Changes</button>
    </form>

    <form action="{% url 'delete_student' %}" method="POST" class="form" onsubmit="return confirm('Are you sure you want to delete this student?');">
        {% csrf_token %}
        <input type="hidden" name="student_id" value="{{ student.id }}">
        <button type="submit" class="submit" id="del-btn">Delete Student</button>
    </form>

</div>
{% endblock %}




{% block javaScript%}
{% endblock%}