{% load static %}





{% block CSS%}
<link rel="stylesheet" href="{% static 'style/gate.css' %}"> 
{% endblock%}

{% block content%}
<div class="button-container">
  <div class="button-row">
    <a href="notfound"><button class="wrong-btn">Human Resources</button></a>
    <a href="/"><button class="correct-btn">Students Affairs</button></a>
  </div>
  <div class="button-row">
    <a href="notfound"><button class="wrong-btn">Higher Studies</button></a>
    <a href="notfound"><button class="wrong-btn">Laboratory Tracking</button></a>
  </div>
</div>
{% endblock%}



