{% extends 'base.html' %}
{% load static %}


{% block title %} 
   Home page 
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}

{% block nav%}
<li><a href="/">Home</a></li>
<li class="navBar-options">
    <a href="#" class="options-btn">Options</a>
    <div class="dropdown-content">
        <a href="addStudent" class="active">Add new student</a>
        <a href="viewStudents">View students</a>
        <a href="assignDepartment"> Assign Department</a>
    </div>
</li>
<li><a href="contact"> Contact Us</a></li>
{% endblock%} 

{% block content%}
<h1 class="mainTitle">Welcome to Students affair</h1>
    <br><br><br>
    <h2 class="second_title">How can we help you?</h2>
    <br>

    <div class="row">
        <div class="col">
            <img src="images/add_new.png" width="150" height="150"/>
            <p class="paragraph">you can add a new student to the system</p>
        </div>

        <div class="col">
            <img src="images/view_students.png" width="170" height="170"/>
            <p class="paragraph">you can view all students in separate page rendered in a table with a related set of attributes</p>
        </div>

        <div class="col">
            <img src="images/search.png" width="150" height="150"/>
            <p class="paragraph">you can search for student by name , id , level , status , date of birth , GPA , gender , email , department or phone number</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <img src="images/edit.png" width="150" height="150"/>
            <p class="paragraph">you can update an existing student information except department , and can you can also change status of student from active to inactive or vice versa from the table viewing all students</p>
        </div>

        <div class="col">
            <img src="images/department.png" width="150" height="150"/>
            <p class="paragraph">you can select specific student after searching to assign department through the student's department assignment page</p>
        </div>

        <div class="col">
            <img src="images/delete.png" width="150" height="150"/>
            <p class="paragraph">you can delete an existing student data through a delete button in edit student data page with a confirmation dialogfue for the action before deletion occurs</p>
        </div>
    </div>
    <br><br><br>


{% endblock%}


{% block javaScript %}
{% endblock %}
