{% extends 'base.html'%}
{% load static %}


{% block title%}
Login Affairs
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}

{% block nav%}
<li><a href="/">Home</a></li>
<li class="navBar-options">
    <a href="#" class="options-btn">Options</a>
    <div class="dropdown-content">
        <a href="addStudent" class="active">Add new student</a>
        <a href="viewStudents">View students</a>
        <a href="assignDepartment"> Assign Department</a>
    </div>
</li>
<li><a href="contact"> Contact Us</a></li>
{% endblock%}

{% block content %}
<div class="container">
    <form id="addStudentForm" method="post" action="{% url 'login' %}" class="form">
        {% csrf_token %}
        <h1 class="mainTitle">Login Affairs</h1>
        <div class="add_new">
            <input type="text" name="username" placeholder="Username" class="input" id="username">
            <label class="label">Username</label>
        </div>

        <div class="add_new">
            <input type="password" name="password" placeholder="Password" class="input" id="password">
            <label class="label">Password</label>
        </div>

        <button type="submit" class="submit">Login</button>
    </form>
</div>
{% endblock %}






<!--{% block javaScript%}-->
<!--<script src="{% static 'scripts/login.js' %}"></script>-->
<!--{% endblock%}-->
