{% extends 'base.html'%}
{% load static %}


{% block title%}
Login Affairs
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}"> 
{% endblock%}

{% block nav%}

{% endblock%}

{% block content %}
<div class="container">
    <form id="addStudentForm" method="post" action="{% url 'login' %}" class="form">
        {% csrf_token %}
        <h1 class="mainTitle">Login Affairs</h1>
        <div class="add_new">
            <input type="text" name="username" placeholder="Username" class="input" id="username">
            <label class="label">Username</label>
        </div>

        <div class="add_new">
            <input type="password" name="password" placeholder="Password" class="input" id="password">
            <label class="label">Password</label>
        </div>

        <button type="submit" class="submit">Login</button>
    </form>
</div>
{% endblock %}




