{% extends 'base.html' %}
{% load static %}



{% block title %}
Register
{% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
{% endblock%}

{% block nav%}

{% endblock%}

{% block content%}
<div class="container">

            <form  method="post" action="/register" id="addStudentForm"  class="form">
                {% csrf_token %}
                <h1 class="mainTitle">Register</h1>
                <div class="add_new">
                    <input type="text" placeholder="Username" class="input" id="username" name="username">
                    <label class="label">Username</label>
                </div>

                <div class="add_new">
                    <input type="password" placeholder="password" class="input" id="password" name="password">
                    <label class="label">password</label>
                </div>
                <button type="submit" class="submit">Register</button>

            </form>
</div>
{% endblock%}


{% block javaScript %}
{% endblock %}
