{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
        <meta charset="UTF-8" />
        {% block CSS%} {% endblock%}
    </head>

    <body>
        <header>
            {% block image%} 
            <img src="{% static 'images/final_logo.png' %}"  alt="Logo" width="150" height="130"  />
            {% endblock %} 
            

            <nav class="navigationBar">
            {% block nav%}
                <li><a href="/">Home</a></li>
                <li class="navBar-options">
                    <a href="#" class="options-btn">Options</a>
                    <div class="dropdown-content">
                        <a href="addStudent" class="active">Add new student</a>
                        <a href="viewStudents">View students</a>
                        <a href="assignDepartment"> Assign Department</a>
                    </div>
                </li>
                <li><a href="contact"> Contact Us</a></li>
                <li class="navBar-account">
                </li>
                <li><a id="logout" href="/logout">Logout</a></li>
            {% endblock%}
            </nav>

        </header>



        {% block content%}


        {% endblock %}





       
        


        {% block javaScript %}
        {% endblock %}
    
    </body>
    
</html>
